#gitgnore - 17052022 - FW

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# User-specific stuff
Project/.idea/**/workspace.xml
Project/.idea/**/tasks.xml
Project/.idea/**/usage.statistics.xml
Project/.idea/**/dictionaries
Project/.idea/**/shelf

# File-based project format
*.iws

# IntelliJ
out/

Project/.idea/workspace.xml
Project/.idea

